body {
  font-family: 'Poiret One', cursive; }

.header {
  z-index: 5;
  width: 100%;
  display: block;
  background-color: rgba(25, 25, 112, 0.9);
  position: fixed; }
  .header nav {
    padding: 0 30px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .header nav a {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin: 0 20px;
      color: #fff;
      font-size: 20px;
      display: inline-block;
      position: relative;
      border-bottom: 2px solid transparent;
      -webkit-transition: all .5s;
      transition: all .5s;
      padding: 10px 5px; }
    .header nav a:hover {
      border-bottom: 2px solid rgba(255, 255, 255, 0.5);
      color: rgba(255, 255, 255, 0.5); }
    .header nav .header__logo {
      border: none;
      margin-right: auto; }
      .header nav .header__logo img {
        width: 50px; }
      .header nav .header__logo:hover {
        border: none; }
    .header nav .menu-mob {
      display: none;
      cursor: pointer;
      height: 16px; }
      .header nav .menu-mob i {
        display: block;
        position: relative;
        width: 20px;
        height: 2px;
        background-color: #fff;
        -webkit-border-radius: 2px;
                border-radius: 2px; }
        .header nav .menu-mob i:before, .header nav .menu-mob i:after {
          -webkit-border-radius: 2px;
                  border-radius: 2px;
          content: '';
          display: block;
          width: inherit;
          height: inherit;
          background-color: inherit;
          position: absolute; }
        .header nav .menu-mob i:before {
          bottom: -10px; }
        .header nav .menu-mob i:after {
          bottom: -5px; }
      .header nav .menu-mob .overflow__menu {
        outline: none;
        cursor: auto;
        right: 8px;
        top: 52px;
        border: 1px solid #D8D8D8;
        padding: 9px 0 6px 0;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        z-index: 11;
        background-color: #fff;
        min-width: 180px;
        position: absolute;
        display: none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-transition: .5s;
        transition: .5s; }
        .header nav .menu-mob .overflow__menu a {
          font-weight: 600;
          -webkit-transition: .5s;
          transition: .5s;
          font-size: 20px;
          line-height: 17px;
          color: #152935;
          padding: 7px 16px 6px 16px;
          display: block;
          margin: 0; }
          .header nav .menu-mob .overflow__menu a:hover {
            color: #fff;
            background-color: rgba(25, 25, 112, 0.8); }
        .header nav .menu-mob .overflow__menu:after {
          position: absolute;
          top: -7px;
          right: 24px;
          content: '';
          width: 12px;
          height: 12px;
          border: 1px solid #D8D8D8;
          border-right: none;
          background-color: #fff;
          border-bottom: none;
          z-index: 10;
          -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
                  transform: rotate(45deg); }
      .header nav .menu-mob .overflow__menu-open {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }

.title {
  background: url(../img/title__background.png) center no-repeat;
  background-size: cover;
  padding: 250px 100px 40px 100px;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .title h1 {
    margin-left: auto;
    background-color: rgba(25, 25, 112, 0.8);
    display: inline-block;
    padding: 40px;
    text-align: right;
    font-size: 80px;
    margin-bottom: 250px; }
  .title p {
    font-weight: 600;
    margin: auto;
    text-align: center;
    font-size: 40px; }
    .title p b {
      font-weight: 100;
      font-family: 'Open Sans', sans-serif; }

.goal h2 {
  color: #000;
  padding: 20px 0;
  font-size: 30px;
  text-align: center;
  background-color: #fff; }

.goal .goal__wrap {
  text-align: center;
  padding: 50px;
  background: url(../img/goal__background.png) center no-repeat;
  background-size: cover; }
  .goal .goal__wrap b {
    font-weight: 100;
    font-family: 'Open Sans', sans-serif; }
  .goal .goal__wrap p {
    text-shadow: 0px 0px 10px black;
    display: inline-block;
    font-size: 40px;
    color: #fff;
    margin-bottom: 20px; }
  .goal .goal__wrap a {
    -webkit-transition: all .5s;
    transition: all .5s;
    display: inline-block;
    margin-top: 40px;
    color: #fff;
    font-size: 40px;
    padding: 10px;
    border-bottom: 2px solid transparent;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .goal .goal__wrap a:hover {
    border-bottom: 2px solid #fff; }

.photos {
  background: transparent url("../img/photo__background.png") center no-repeat;
  background-size: cover; }
  .photos h2 {
    color: #000;
    padding: 20px 0;
    font-size: 30px;
    text-align: center;
    background-color: #fff; }
  .photos .photos__wrap {
    position: relative; }
    .photos .photos__wrap img {
      border-right: 5px solid #fff;
      border-left: 5px solid #fff;
      max-width: 70%;
      margin: 0 auto;
      max-height: 600px;
      display: block; }
    .photos .photos__wrap .slider__pagination {
      -webkit-transition: all .5s;
      transition: all .5s;
      opacity: 0;
      position: absolute;
      margin: auto;
      bottom: 20px;
      right: 0;
      left: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 240px;
      margin-top: 20px; }
      .photos .photos__wrap .slider__pagination span {
        margin-right: 10px;
        display: block;
        width: 15px;
        height: 15px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        background-color: #fff; }
        .photos .photos__wrap .slider__pagination span:last-child {
          margin-right: 0; }
      .photos .photos__wrap .slider__pagination span.slider__pagination_active {
        background-color: #191970; }
    .photos .photos__wrap .slider__prev {
      -webkit-transition: all .5s;
      transition: all .5s;
      opacity: 0;
      cursor: pointer;
      width: 30px;
      height: 60px;
      top: 0;
      bottom: 0;
      margin: auto;
      left: 50px;
      position: absolute; }
      .photos .photos__wrap .slider__prev i {
        height: 100%;
        width: 100%;
        display: block;
        position: relative; }
        .photos .photos__wrap .slider__prev i:after, .photos .photos__wrap .slider__prev i:before {
          -webkit-transition: .5s;
          transition: .5s;
          width: 30px;
          height: 3px;
          position: absolute;
          content: '';
          display: block;
          background-color: #fff; }
        .photos .photos__wrap .slider__prev i:after {
          top: 19px;
          -webkit-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
                  transform: rotate(-45deg); }
        .photos .photos__wrap .slider__prev i:before {
          bottom: 18px;
          -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
                  transform: rotate(45deg); }
      .photos .photos__wrap .slider__prev:hover i:after, .photos .photos__wrap .slider__prev:hover i:before {
        background-color: #191970; }
    .photos .photos__wrap .slider__next {
      -webkit-transition: all .5s;
      transition: all .5s;
      opacity: 0;
      cursor: pointer;
      width: 30px;
      height: 60px;
      top: 0;
      bottom: 0;
      margin: auto;
      right: 50px;
      position: absolute; }
      .photos .photos__wrap .slider__next i {
        height: 100%;
        width: 100%;
        display: block;
        position: relative;
        -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
                transform: rotate(180deg); }
        .photos .photos__wrap .slider__next i:after, .photos .photos__wrap .slider__next i:before {
          -webkit-transition: .5s;
          transition: .5s;
          width: 30px;
          height: 3px;
          position: absolute;
          content: '';
          display: block;
          background-color: #fff; }
        .photos .photos__wrap .slider__next i:after {
          top: 19px;
          -webkit-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
                  transform: rotate(-45deg); }
        .photos .photos__wrap .slider__next i:before {
          bottom: 18px;
          -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
                  transform: rotate(45deg); }
      .photos .photos__wrap .slider__next:hover i:after, .photos .photos__wrap .slider__next:hover i:before {
        background-color: #191970; }
    .photos .photos__wrap:hover .slider__pagination, .photos .photos__wrap:hover .slider__prev, .photos .photos__wrap:hover .slider__next {
      opacity: 1; }

.lineup {
  background: transparent url("../img/lineup__background.png") center no-repeat;
  background-size: cover; }
  .lineup h2 {
    color: #000;
    padding: 20px 0;
    font-size: 30px;
    text-align: center;
    background-color: #fff; }
  .lineup .lineup__wrap {
    padding: 20px 0; }
    .lineup .lineup__wrap .lineup__day {
      margin: auto;
      width: 400px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .lineup .lineup__wrap .lineup__day h3 {
        margin: auto;
        display: inline-block;
        color: #fff;
        padding: 20px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        text-align: center;
        background-color: rgba(25, 25, 112, 0.9);
        font-size: 30px; }
      .lineup .lineup__wrap .lineup__day .lineup__time {
        margin-bottom: 10px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        .lineup .lineup__wrap .lineup__day .lineup__time span {
          font-size: 20px;
          margin-right: 20px;
          font-weight: 600;
          background-color: #fff;
          color: #000;
          padding: 20px;
          -webkit-border-radius: 50%;
                  border-radius: 50%; }
        .lineup .lineup__wrap .lineup__day .lineup__time p {
          font-size: 20px;
          color: #fff;
          font-weight: 600; }

.support {
  text-align: center;
  background: transparent url("../img/support__background.png") center no-repeat;
  background-size: cover;
  color: #000; }
  .support h3 {
    padding: 20px 0;
    font-size: 30px;
    text-align: center;
    background-color: #fff; }
  .support__text {
    padding: 20px 200px;
    text-align: center;
    color: #fff; }
    .support__text b {
      font-weight: 100;
      font-family: 'Open Sans', sans-serif; }
    .support__text span, .support__text p {
      display: block;
      margin-bottom: 20px;
      font-size: 30px; }
  .support__contacts {
    background-color: #fff;
    font-size: 25px;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px; }
    .support__contacts a {
      -webkit-transition: all .5s;
      transition: all .5s;
      font-weight: 600;
      color: #000;
      margin-bottom: 10px; }
      .support__contacts a i {
        margin-right: 10px; }
    .support__contacts .vk:hover {
      color: #507299; }
    .support__contacts .fb:hover {
      color: #3b5998; }
    .support__contacts .telegram:hover {
      color: #2e87ca; }
    .support__contacts .viber {
      font-weight: 600;
      color: #000; }
  .support h4 {
    padding: 20px 0;
    font-size: 30px;
    text-align: center;
    background-color: #fff; }
    .support h4 b {
      font-weight: 100;
      font-family: 'Open Sans', sans-serif; }

@media screen and (max-width: 900px) {
  .header nav a {
    margin: 0 10px; }
  .header nav .header__logo {
    display: block; }
  .title {
    padding: 250px 50px 40px 50px; }
    .title h1 {
      text-align: center;
      font-size: 50px;
      margin-bottom: 150px; }
    .title p {
      font-size: 30px; }
  .goal h2 {
    color: #000;
    padding: 20px 0;
    font-size: 30px;
    text-align: center;
    background-color: #fff; }
  .goal .goal__wrap {
    padding: 25px; }
    .goal .goal__wrap p {
      font-size: 30px; }
    .goal .goal__wrap a {
      font-size: 27px; }
  .support__text {
    padding: 20px 20px; } }

@media screen and (max-width: 600px) {
  .header nav a {
    display: none;
    margin: 0 20px; }
  .header nav .menu-mob {
    display: block; }
  .title {
    padding: 150px 20px 40px 20px; }
    .title h1 {
      font-size: 30px;
      margin-bottom: 100px; }
    .title p {
      font-size: 20px; }
  .goal h2 {
    padding: 10px 0;
    font-size: 25px; }
  .goal .goal__wrap {
    padding: 20px; }
    .goal .goal__wrap p {
      font-size: 20px; }
    .goal .goal__wrap a {
      margin-top: 20px;
      font-size: 25px; }
  .photos h2 {
    padding: 10px 0;
    font-size: 25px; }
  .photos .photos__wrap .slider__pagination {
    bottom: 10px;
    width: 195px; }
    .photos .photos__wrap .slider__pagination span {
      margin-right: 5px;
      width: 15px;
      height: 15px; }
  .photos .photos__wrap .slider__prev {
    left: 20px; }
  .photos .photos__wrap .slider__next {
    right: 20px; }
  .photos .photos__wrap .slider__pagination, .photos .photos__wrap .slider__prev, .photos .photos__wrap .slider__next {
    opacity: 1; }
  .lineup h2 {
    padding: 10px 0;
    font-size: 25px; }
  .lineup .lineup__wrap .lineup__day {
    width: auto;
    padding-left: 10px; }
    .lineup .lineup__wrap .lineup__day h3 {
      font-size: 20px; }
    .lineup .lineup__wrap .lineup__day .lineup__time {
      margin-bottom: 10px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .lineup .lineup__wrap .lineup__day .lineup__time span {
        margin-top: 10px;
        font-size: 15px;
        margin-right: 0px;
        padding: 15px; }
      .lineup .lineup__wrap .lineup__day .lineup__time p {
        color: #fff;
        font-weight: 600; }
  .support h3 {
    padding: 10px 0;
    font-size: 25px; }
  .support__text span, .support__text p {
    margin-bottom: 10px;
    font-size: 20px; }
  .support__contacts {
    font-size: 20px;
    padding: 10px; }
  .support h4 {
    padding: 15px 0;
    font-size: 25px; } }

@media screen and (max-width: 370px) {
  .header nav .menu-mob .overflow__menu {
    min-width: 140px; }
    .header nav .menu-mob .overflow__menu a {
      font-size: 15px;
      padding: 5px 10px; }
  .title {
    padding-left: 0;
    padding-right: 0; }
    .title h1 {
      width: 100%;
      padding: 10px 10px;
      font-size: 25px;
      margin-bottom: 70px; }
    .title p {
      font-size: 22px;
      padding: 0 10px; }
  .goal .goal__wrap {
    padding: 15px; }
    .goal .goal__wrap p {
      font-size: 17px; }
    .goal .goal__wrap a {
      margin-top: 0px;
      font-size: 20px; }
  .photos .photos__wrap .slider__pagination {
    width: 146px; }
    .photos .photos__wrap .slider__pagination span {
      width: 10px;
      height: 10px; }
  .photos .photos__wrap .slider__prev {
    left: 5px; }
  .photos .photos__wrap .slider__next {
    right: 5px; }
  .lineup .lineup__wrap .lineup__day .lineup__time p {
    font-size: 17px; } }
